.departures-list {
  padding: 0.5rem;
}

.stop-group {
  margin-bottom: 1.5rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 0.5rem 1rem;

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: rgb(102, 102, 102);
  }
}

.departure {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 500px;

  &--cancelled {
    text-decoration: line-through;
  }

  & > span {
    margin-right: 0.5rem;
  }

  &__line {
    display: inline-flex;
    min-width: 30px;
    flex-shrink: 0;
  }

  &__destination {
    display: inline-flex;
    flex: 1;
  }

  &__display {
    display: inline-flex;
    width: 50px;
    flex-shrink: 0;
  }
}

.error {
  color: red;
}
