.departures-list {
  padding: 0.5rem;
}

.stop-group {
  margin-bottom: 1.5rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 0.5rem 1rem;

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: rgb(102, 102, 102);
  }
}

.departure {
  margin-bottom: 0.5rem;
}

.error {
  color: red;
}
