:host {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: #333;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  width: fit-content;
}
